{% extends "layout.html" %}
{% block container %}
{% import "_macros.html" as marcos %}

<div class="max-w-6xl mx-auto px-6 mt-12">

    <!-- Encabezado -->
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-2xl font-semibold text-heading">
            Lista de Alumnos
        </h2>

        <a href="{{ url_for('alumnos') }}"
           class="text-white bg-brand hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium font-medium rounded-base text-sm px-4 py-2 shadow-xs">
            Ir a Alumnos
        </a>
    </div>

    <!-- Tabla -->
    <div class="relative overflow-x-auto bg-neutral-primary-soft shadow-md rounded-xl border border-default">
        <table class="w-full text-sm text-left text-body">
            <thead class="bg-neutral-secondary-soft border-b border-default">
                <tr>
                    <th class="px-6 py-3 font-medium">Nombre</th>
                    <th class="px-6 py-3 font-medium">Apaterno</th>
                    <th class="px-6 py-3 font-medium">Correo</th>
                    <th class="px-6 py-3 font-medium text-center">Consultar</th>
                    <th class="px-6 py-3 font-medium text-center">Editar</th>
                    <th class="px-6 py-3 font-medium text-center">Eliminar</th>
                </tr>
            </thead>

            <tbody>
                {% for alum in alumnos %}
                <tr class="odd:bg-neutral-primary even:bg-neutral-secondary-soft border-b border-default">
                    <td class="px-6 py-4">{{ alum.nombre }}</td>
                    <td class="px-6 py-4">{{ alum.apaterno }}</td>
                    <td class="px-6 py-4">{{ alum.email }}</td>

                    <td class="px-6 py-4 text-center">
                    <a href="#"
                           class="text-fg-brand hover:underline">
                            Ver
                        </a>
                    </td>

                    <td class="px-6 py-4 text-center">
                        <a href="#"
                           class="text-blue-500 hover:underline">
                            Editar
                        </a>
                    </td>

                    <td class="px-6 py-4 text-center">
                        <a href="#"
                           class="text-red-500 hover:underline">
                            Eliminar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

</div>

{% endblock %}